<%= form_for @ss_period, remote: true, html: {style: "display:inline;"} do |f| %>
    <% if @ss_period.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@ss_period.errors.count, "error") %> prohibited this tipe ss_period from being saved:</h2>

        <ul>
        <% @ss_period.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-1">
          <%= f.label :periode, class: "control-label" %><br>
        </div>
        <div class="col-md-2">
          <%= date_field("ss_period","ss_period_period", html_options = {id: "ss_period_ss_period_period", name: "ss_period[ss_period_period]", class: "form-control"}) %>
        </div>
        <div class="col-md-1">
          <%= f.submit (f.object.new_record? ? "Tambah" : "Ubah"), class: "btn btn-sm btn-primary" %>
        </div>
        <div class="col-md-1">
          <%= link_to 'Batal', new_ss_period_path, class: "btn btn-sm btn-default", remote: true %>
        </div>
      </div>
    </div>
<% end %>