<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6" style="background-color: #FFFFFF; padding: 10px 10px 10px 10px">
      <h5 id="stock_name" align="center" style="font-weight: bold"><i>Safety Stock</i> <%= @obat_name %></h5>
      <div class="row" id="chart_ss">
        <%= pie_chart @safety_stocks, donut: true, colors: @colors %>
      </div>
      <div class="row" id="form_ss" style="margin-top: 20px">
        <%= render 'form_ss' %>   
      </div>
    </div>
    <div class="col-lg-6" style="background-color: #FFFFFF; padding: 10px 10px 10px 10px">
      <h5 align="center"><b>Ringkasan Status Transaksi</b></h5>
      <%= pie_chart @transaksi_ask, donut: true %>
    </div>
  </div>
  <div class="row">
    # <% @activities.order('created_at DESC').each do |activity| %>
      # <%= render_activity activity %>
    # <% end %>
  </div>
</div>