<% if current_user.admin? %>
<div class="row">
  <%= form_tag import_safety_stocks_path, multipart: true do %>
    <div class="col-md-2"><b>Import Data Permintaan</b></div>
    <div class="col-md-3">
      <%= file_field_tag :file, class: "form-control" %>
    </div>
    <div class="col-md-2">Periode</div>
    <div class="col-md-2">
      <%= collection_select :ss_period_id, @ss_periods, :id, week(:ss_period_period), {prompt: "Pilih satu"}, {class: "form-control"} %>
    </div>
    <div class="col-md-4">
      <%= submit_tag "Submit", class: "btn btn-sm btn-primary" %>
    </div> 
  <% end %>
</div>
<% end %>
<table class="table table-striped table-bordered" style="margin-top: 10px">
  <thead>
    <tr>
      <th style="text-align:center">Nama</th>
      <% if current_user.admin? %>
      <th style="text-align:center">Aksi</th>
      <% end %>
    </tr>
  </thead>

  <tbody id="tabelSafetyStock" class="isiSafetyStock">
    <%= render 'index' %>
  </tbody>
</table>
<div align="center">
  <%= will_paginate @generiks, renderer: BootstrapPagination::Rails %>
</div>