<% if current_user.admin? %>
<div class="row">
  
  <%= form_tag import_safety_stocks_path, multipart: true do %>
    <div class="col-md-2" style="padding-top: 5px"><b>Import Data Permintaan</b></div>
    <div class="col-md-3">
      <%= file_field_tag :file, class: "form-control" %>
    </div>
    <div class="col-md-1" style="padding-top: 5px"><b>Periode</b></div>
    <div class="col-md-2">
      
      <%= collection_select(:ss_period, :ss_period_id, @ss_periods, :id, :week_period, {prompt: "Pilih Periode"}, {class: "form-control"}) %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Submit", class: "btn btn-sm btn-primary" %>
    </div> 
  <% end %>

</div>
<% end %>
<table class="table table-striped table-bordered" style="margin-top: 10px">
  <thead>
    <tr>
      <th style="text-align:center">Stok Obat</th>
      <th style="text-align:center">Safety Stock</th>
    </tr>
  </thead>

  <tbody id="tabelSafetyStock" class="isiSafetyStock">
    <%= render 'index' %>
  </tbody>
</table>
<div align="center">
  <%= will_paginate @safety_stocks, renderer: BootstrapPagination::Rails %>
</div>