<%= form_for @bentuk, remote: true, html: {style: "display:inline;"} do |f| %>
    <% if @bentuk.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bentuk.errors.count, "error") %> prohibited this tipe bentuk from being saved:</h2>

        <ul>
        <% @bentuk.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :nama_bentuk_obat, class: "control-label" %><br>
        </div>
        <div class="col-md-5">
          <%= f.text_field :bentuk_name, class: "form-control" %>
        </div>
        <div class="col-md-1" style="padding-top: 8px">
          <%= f.submit (f.object.new_record? ? "Tambah" : "Ubah"), class: "btn btn-sm btn-primary" %>
        </div>
        <div class="col-md-1" style="padding-top: 8px">
          <%= link_to 'Batal', new_bentuk_path, class: "btn btn-sm btn-default", remote: true %>
        </div>
      </div>
    </div>
<% end %>