<% @transaksi.dtrans.each do |dtran| %>
	<tr>
  	<td><%= dtran.stock.obat.obat_name %></td>
    <td><%= dtran.dta_qty %>&nbsp; <%= dtran.stock.obat.kemasan.kemasan_name %></td>
  	<td><%= dtran.stok %>&nbsp; <%= dtran.stock.obat.kemasan.kemasan_name %></td>
    <td><%= dtran.dtd_qty.nil? ? 0 : dtran.dtd_qty %>&nbsp; <%= dtran.stock.obat.kemasan.kemasan_name %></td>
    <td><%= dtran.dtd_rsn %></td>
    <% if dtran.enough? && dtran.transaksi.asked? %>
    <td id="edit_<%= dtran.stock_id %>"><%= link_to "Drop", edit_transaksi_dtran_path(dtran.transaksi, dtran), class: 'btn btn-sm btn-default', remote: true %>
    </td>
    <% end %>
  </tr>
<% end %>