<p id="notice"><%= notice %></p>

<p>
  <strong>Stock:</strong>
  <%= @dtran.stock_id %>
</p>

<p>
  <strong>Transaksi:</strong>
  <%= @dtran.transaksi_id %>
</p>

<p>
  <strong>Dta qty:</strong>
  <%= @dtran.dta_qty %>
</p>

<p>
  <strong>Dtd qty:</strong>
  <%= @dtran.dtd_qty %>
</p>

<p>
  <strong>Dtt qty:</strong>
  <%= @dtran.dtt_qty %>
</p>

<p>
  <strong>Dtd rsn:</strong>
  <%= @dtran.dtd_rsn %>
</p>

<p>
  <strong>Dtt rsn:</strong>
  <%= @dtran.dtt_rsn %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @dtran.belongs_to %>
</p>

<%= link_to 'Edit', edit_dtran_path(@dtran) %> |
<%= link_to 'Back', dtrans_path %>
