<%= form_for @satuan, remote: true, html: {style: "display:inline;"} do |f| %>
    <% if @satuan.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@satuan.errors.count, "error") %> prohibited this tipe satuan from being saved:</h2>

        <ul>
        <% @satuan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2">
          <%= f.label :kode_satuan, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :satuan_code, class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= f.label :ukuran_satuan, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :satuan_ukuran, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.label :isi_satuan, class: "control-label" %><br>
        </div>
        <div class="col-md-4">
          <%= f.text_field :satuan_isi, class: "form-control" %>
        </div>
        <div class="col-md-1" style="padding-top: 8px">
          <%= f.submit (f.object.new_record? ? "Tambah" : "Ubah"), class: "btn btn-sm btn-primary" %>
        </div>
        <div class="col-md-1" style="padding-top: 8px">
          <%= link_to 'Batal', new_satuan_path, class: "btn btn-sm btn-default", remote: true %>
        </div>
      </div>
    </div>
<% end %>