<%= form_for @distance, remote: true, html: {style: "display:inline;"} do |f| %>
    <% if @distance.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@distance.errors.count, "error") %> prohibited this tipe distance from being saved:</h2>

        <ul>
        <% @distance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="row">
        <div class="col-md-2" style="padding-top: 8px">
          <%= f.label :outlet_asal, class: "control-label" %><br>
        </div>
        <div class="col-md-3">
          <%= f.collection_select :origin_id, @outlets, :id, :outlet_name, {prompt: "Pilih satu"}, {class: "form-control"} %>
        </div>
        <div class="col-md-2" style="padding-top: 8px">
          <%= f.label :outlet_tujuan, class: "control-label" %><br>
        </div>
        <div class="col-md-3">
          <%= f.collection_select :destination_id, @outlets, :id, :outlet_name, {prompt: "Pilih satu"}, {class: "form-control"} %>
        </div>
      </div>
      <div class="row">    
        <div class="col-md-2">
          <%= f.label :jarak , class: "control-label" %>
        </div>
        <div class="col-md-3">
          <%= f.text_field :distance, class: "form-control", placeholder: "ex: 20Km" %>
        </div>
        <div class="col-md-1" style="padding-top: 5px">
          <%= f.submit (f.object.new_record? ? "Tambah" : "Ubah"), class: "btn btn-sm btn-primary" %>
        </div>
        <div class="col-md-1" style="padding-top: 5px">
          <%= link_to 'Batal', new_distance_path, class: "btn btn-sm btn-default", remote: true %>
        </div>
      </div>
    </div>
<% end %>