<li class="<%= active?('/stocks') %>">
  <a href="/stocks">
    <i class="fa fa-cube fa-lg"></i>
    <p style="font-size: 10px">Stok Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/drop') %>">
  <a href="/transaksis/drop">
    <i class="fa fa-arrow-circle-down fa-lg"></i>
    <p style="font-size: 10px">Dropping Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/accept') %>">
  <a href="/transaksis/accept">
    <i class="fa fa-handshake-o fa-lg"></i>
    <p style="font-size: 10px">Penerimaan Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/report_drop') %>">
  <a href="/transaksis/report_drop">
    <i class="fa fa-file-text-o fa-fw"></i>
    <p style="font-size: 10px">Laporan Dropping Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/report_accept') %>">
  <a href="/transaksis/report_accept">
    <i class="fa fa-file-text-o fa-fw"></i>
    <p style="font-size: 10px">Laporan Penerimaan Obat</p>
  </a>
</li>