<li class="<%= active?('/obats') %>">
  <a href="/obats">
    <i class="fa fa-medkit fa-lg"></i>
    <p>Master Obat</p>
  </a>
</li>
<li class="<%= active?('/stocks') %>">
  <a href="/stocks">
    <i class="fa fa-cube fa-lg"></i>
    <p>Master Stok Obat</p>
  </a>
</li>
<li class="<%= active?('/ss_periods') %>">
  <a href="/ss_periods">
    <i class="fa fa-calendar fa-lg"></i>
    <p>Master Periode</p>
  </a>
</li>
<li class="<%= active?('/safety_stocks') %>">
  <a href="/safety_stocks">
    <i class="fa fa-cubes fa-lg"></i>
    <p>Safety Stock</p>
  </a>
</li>
<li class="<%= active?('/outlet_types')%>">
  <a href="/outlet_types">
    <i class="fa fa-arrows-alt fa-lg"></i>
    <p>Master Tipe Outlet</p>
  </a>
</li>
<li class="<%= active?('/outlets')%>">
  <a href="/outlets">
    <i class="fa fa-archive fa-lg"></i>
    <p>Master Outlet</p>
  </a>
</li>
<li class="<%= active?('/roles') %>">
  <a href="/roles">
    <i class="fa fa-user fa-lg"></i>
    <p>Peran Pengguna</p>
  </a>
</li>
<li class="<%= active?('/admin/users') %>">
  <a href="/admin/users">
    <i class="fa fa-users fa-lg"></i>
    <p>Master Pengguna</p>
  </a>
</li>
<li class="<%= active?('/distances') %>">
  <a href="/distances">
    <i class="fa fa-map-marker fa-lg"></i>
    <p>Master Jarak</p>
  </a>
</li>